/* Variabels Start  */
:root {
    --main-transition: .3s;
    --sec-color: #726e6e;
    --sec-color-alt: #eee;
    --main-white: #fff;
    --main-blue: rgb(88, 88, 238);
    --main-orange: rgb(252, 180, 46);
    --main-green: rgb(102, 209, 102)
}

/* Variabels End  */

/* Global rules Star1  */
body {
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-blue);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-white);
}

* {
    box-sizing: border-box;
}

* textarea {
    height: 130px;
    width: 100%;
    border: unset;
    resize: none;
    outline: unset;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0;
}

.page {
    background-color: var(--sec-color-alt);
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 180px 1fr;
    min-height: 100vh;
    gap: 3px;
    row-gap: 0;
}

.active {
    background-color: rgba(238, 238, 238, 0.493);
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* Global Rules End  */
/* Main Component Start  */
main h3 {
    margin: 0;
    font-size: 20px;
}

main h3+p {
    margin: 5px 0 15px 0;
    color: var(--sec-color);
    font-size: 14px;
}

h3.mb-35 {
    margin-bottom: 35px;
}

main h3.bottom-margin {
    margin-bottom: 15px;
}

@media (max-width:767px) {
    h3 {
        margin-bottom: 15px !important;
    }
}

.npt {
    border: 1px solid var(--sec-color-alt);
    padding-left: 10px;
    min-height: 30px;
    min-width: 100%;
    background-color: transparent;
    outline: unset;
    border-radius: 6px;
    transition: var(--main-transition)
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: smaller;
    transition: var(--main-transition);
    display: block;
    border: unset;
}

.btn-bg-blue {
    background-color: var(--main-blue);
}

/* Main Component End  */


.toggel {
    position: relative;
    width: fit-content;
    height: fit-content;
}

input.checkbox {
    opacity: 0;
    position: relative;
    z-index: 555;
    cursor: pointer;
}

.toggel input.checkbox,
.toggel span.checkbox {
    width: 55px;
    height: 25px;
}

.toggel span.checkbox {
    position: absolute;
    left: 0;
    border-radius: 15px;
    background-color: rgba(153, 145, 145, 0.425);
    /* border: 1px solid var(--main-blue); */
    transition: .5s;
}

.toggel input.checkbox:checked+span.checkbox {
    background-color: var(--main-blue);
    /* animation: stretch .5s ease-in-out .2s; */
}

/*
@keyframes stretch {
    50% {
        width: 65px;
    }
}*/

main .toggel span.checkbox::after {
    content: '\f00d';
    left: 4.5px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 19px;
    color: rgba(153, 145, 145, 0.425);
    transition-timing-function: cubic-bezier(0.42, 0, 0, 1.14) !important;
}

main .toggel input.checkbox:checked+span.checkbox:after {
    background-color: white;
    transform: translate(28px, -50%) rotate(45deg);
    color: transparent;
    /* animation: move .5s ease-in-out .2s; */
}

/* @keyframes move {
    50% {
        transform: translate(41px, -50%);
    }
} */

main .toggel span.checkbox::before {
    content: '\f00c';
    left: 6px;
    transform: translateY(-50%) rotate(-180deg);
    z-index: 1;
    opacity: 0;
    color: var(--main-blue);
}

main .toggel input.checkbox:checked+span.checkbox::before {
    opacity: 1;
    transform: translate(30.5px, -48%);
    transition: .8s;
}

main .toggel span.checkbox::after,
main .toggel span.checkbox::before {

    top: 49.9%;
    transition: .5s;
    font-size: 12px;
}

span.checkbox::after,
span.checkbox::before {
    font-family: "font awesome 5 free";
    font-weight: 900;
    position: absolute;
}

/* --- --- */
.highlight {
    display: inline-block;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
    font-size: smaller;
    margin-right: 5px;
    transition: var(--main-transition);
}

.highlight:hover {
    background-color: rgb(207, 185, 185);
}

/* End Component  */

/* Header Start  */
header {
    grid-column: 2/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--main-white);
    box-shadow: 0px 2px 5px rgba(221, 221, 221, 0.623);
    position: relative;
}

header .input {
    position: relative;
    transition: var(--main-transition);
}

header .input:has(input:focus) {
    transform: scalex(1.1) translateX(9.6px);
}


header input {
    border: 1px solid var(--sec-color-alt);
    padding-left: 30px;
    height: 35px;
    background-color: transparent;
    outline: unset;
    border-radius: 10px;
    transition: var(--main-transition);
}

header input:focus {
    border-color: rgba(94, 228, 94, 0.5);
}

::placeholder {
    transition: var(--main-transition);
    font-size: 12px;
}

input:focus::placeholder {
    opacity: 0;
}

header .input i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    transition: var(--main-transition);
}

header .input:has(input:focus) i {
    color: rgb(199, 78, 78);
}

header .box {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .box i {
    position: relative;
    font-size: 16px;
    cursor: pointer;
}

header .box i::after {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8px;
    height: 8px;
    background-color: #FA7070;
    border-radius: 50%;
    border: 1px solid white;
    transition: var(--main-transition);
}

header .box i:hover::after {
    background-color: #e2a0a0;
}

header img {
    width: 32px;
}

/* Header End  */


/* Aside Start  */
aside {
    grid-column: 1/2;
    grid-row: 1/-1;
    /* grid-area: sd; */
    max-height: 100%;
    padding: 15px;
    background-color: var(--main-white);
}

aside .head {
    text-align: center;
    min-height: 45px;
    position: relative;
}

@media (min-width:768px) {

    aside .head:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 2px;
        background-color: #000;
    }

    aside .head::before {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background-color: #000;
        border: 2px solid var(--main-white);
        border-radius: 50%;
        z-index: 5;
    }
}

aside h3 {
    margin: 0;
    transition: var(--main-transition);
}

aside ul {
    padding-top: 15px;
}

aside ul li {
    border-radius: 8px;
    transition: var(--main-transition);
    margin-bottom: 10px;
}

aside ul li:hover {
    background-color: rgba(238, 238, 238, 0.493);
}

/* aside ul li:first-child {
    background-color: rgba(238, 238, 238, 0.493);
} */

aside ul li a {
    display: flex;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}


aside ul li i {
    cursor: pointer;
    margin-right: 5px;
}

@media (max-width:767px) {
    .page {
        gap: 0;
        grid-template-columns: min-content;
    }

    aside {
        padding: 10px;
        text-align: center;
        transition: var(--main-transition);
    }

    aside:hover {
        max-width: 150px;
        padding: 25px;
        text-align: start;
    }

    aside .head {
        min-height: 30px;
    }

    aside h3 {
        font-size: 14px;
    }

    aside:hover h3 {
        font-size: 20px;
    }

    aside ul li {
        margin-bottom: 30px;
        font-size: 14px;
        justify-content: center;
    }

    aside:not(:hover) ul li a {
        padding: 8px 5px;
        justify-content: center;
    }

    aside li a span {
        display: none;
        transition: var(--main-transition);
    }

    aside:hover li a span {
        display: block;
    }
}

/* Aside End   */

/* Main Start  */
main {
    /* grid-area: mn; */
    grid-column: 2/-1;
    padding: 10px;
    background-color: rgba(253, 253, 253, 0.526);
}

main .main-heading h2 {
    margin: 0;
}

main .main-heading span {
    display: block;
    margin-top: 6px;
    position: relative;
    width: 110px;
    height: 3px;
    background-color: var(--main-white);
    border-radius: 10px;
    overflow: hidden;
}

main .main-heading span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
    background-color: #000;
}

main .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 20px;
    gap: 20px;
}

@media (max-width:767px) {
    main .content {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}

main .content>div {
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--main-white);
    box-shadow: 0px 2px 10px rgb(0, 0, 0, .1);
    position: relative;
}

main .content>div:not(.welcome) {
    padding: 10px;
}

/* Welcome Start  */
main .welcome {
    padding-bottom: 10px;
}

main .welcome .upper {
    background-color: var(--sec-color-alt);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

main .welcome .upper .image {
    height: 120px;
}

main .welcome .upper img {
    max-height: 100%;
}

main .welcome .lower {
    padding: 0 10px;
    background-color: var(--main-white);
}

main .welcome .lower img {
    width: 50px;
    transform: translateY(-30px);
    position: relative;
    border: 2px solid var(--main-white);
    border-radius: 50%;
}

@media (max-width:767px) {
    main .welcome .lower img {
        left: 50%;
        transform: translate(-50%, -30px);
    }

    main .welcome .lower ul {
        flex-direction: column;
        row-gap: 20px;
    }
}

main .welcome .lower ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    transform: translateY(-20px);
    padding: 20px 30px;
    position: relative;
    margin-bottom: 30px;
}

main .welcome .lower ul::after {
    top: 0;
}

main .welcome .lower ul::before {
    bottom: 0;
}

main .welcome .lower ul::before,
main .welcome .lower ul::after {
    content: ' ';
    position: absolute;
    width: calc(100% + 30px);
    left: -10px;
    height: 1px;
    background-color: var(--sec-color-alt);
}

main .lower li h4 {
    margin: 0;
}

main .lower li p {
    font-size: smaller;
    color: var(--sec-color);
    margin: 0;
    margin-top: 5px;
}

main .lower a {
    background-color: var(--main-blue);
    border: 1px solid transparent;
    color: var(--main-white);
    position: absolute;
    bottom: 10px;
    right: 10px;
}


main .lower a:hover {
    color: var(--main-blue);
    background-color: transparent;
    border-color: var(--main-blue);
}

/* Welcome End  */
/* Drafts Start   */
main .draft input {
    background-color: var(--sec-color-alt);
    margin-bottom: 15px;
}

main .draft input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}

main .draft textarea {
    background-color: var(--sec-color-alt);
    margin-bottom: 30px;
}

main .draft button {
    background-color: var(--main-blue);
    border: 1px solid transparent;
    color: var(--main-white);
    margin-left: auto;
}

.draft button:hover {
    color: var(--main-blue);
    background-color: transparent;
    border-color: var(--main-blue);
}

/* Drafts End   */
/* Targets Start  */
main .target .stats>div {
    display: flex;
    gap: 15px;
}

main .target .stats>div:not(:last-child) {
    margin-bottom: 15px;
}

main .target .stats>div div {
    flex: 1;
}

main .target .stats i {
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
}

main .target .stats span {
    display: block;
    margin-bottom: 5px;
}

main .target .stats span:first-child {
    color: var(--sec-color);
    font-size: small;
    margin: 5px 0;
}

main .target .stats span:nth-child(2) {
    font-weight: bold;
}

main .target .stats .line {
    position: relative;
    height: 3px;
    background-color: var(--sec-color-alt);
    margin-top: 15px;
    border-radius: 5px;
}

main .target .stats .line span {
    position: relative;
    height: 100%;
}

main .target .stats .line span::after {
    position: absolute;
    top: -25px;
    right: -14.1px;
    padding: 2.5px 4px;
    color: var(--main-white);
    border-radius: 5px;
    font-size: smaller;
}

main .target .stats .line span::before {
    content: '';
    position: absolute;
    top: -9px;
    right: -5px;
    border-width: 5px;
    border-style: solid;
}

/* Money Start */
main .target .stats .money i {
    background-color: rgba(201, 201, 235, 0.555);
    color: rgb(72, 72, 192);
}

main .target .stats .money .line span {
    width: 40%;
}

main .target .stats .money .line span::after {
    content: '40%';
}

main .target .stats .money .line span,
main .target .stats .money .line span::after {
    background-color: var(--main-blue);
}

main .target .stats .money .line span::before {
    border-color: var(--main-blue) transparent transparent transparent;
}



/* Projects Start*/

main .target .stats .projects i {
    background-color: rgba(253, 184, 55, 0.362);
    color: var(--main-orange);
}

main .target .stats .projects .line span {
    width: 55%;
}

main .target .stats .projects .line span::after {
    content: '55%';
}

main .target .stats .projects .line span,
main .target .stats .projects .line span::after {
    background-color: var(--main-orange);
}

main .target .stats .projects .line span::before {
    border-color: var(--main-orange) transparent transparent transparent;
}

/* Team Start*/
main .target .stats .team i {
    background-color: rgba(0, 255, 0, 0.212);
    color: var(--main-green);
}

main .target .stats .team .line span {
    width: 75%;
}

main .target .stats .team .line span::after {
    content: '75%';
}

main .target .stats .team .line span,
main .target .stats .team .line span::after {
    background-color: var(--main-green);
}

main .target .stats .team .line span::before {
    border-color: var(--main-green) transparent transparent transparent;
}

/* Targets End  */
/* Statistics Start  */
main .statistics .tickets {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

main .statistics .tickets div {
    flex: 1 1 calc(50% - 10px);
    text-align: center;
    border: 1px solid #7676764b;
    padding: 20px 0;
    border-radius: 8px;
}

@media (max-width:767px) {
    main .statistics .tickets div {
        flex-basis: 100%;
    }
}

main .statistics .tickets div i {
    margin-bottom: 10px;
    font-size: 18px;
}

main .statistics .tickets div:first-child i {
    color: var(--main-orange);
}

main .statistics .tickets div:nth-child(2) i {
    color: var(--main-blue);
    transition: var(--main-transition);
}

main .statistics .tickets div:nth-child(2):hover i {
    transform: rotate(270deg);
}

main .statistics .tickets div:nth-child(3) i {
    color: var(--main-green);
}

main .statistics .tickets div:last-child i {
    color: rgb(231, 74, 74);
}


main .statistics .tickets div p {
    font-weight: bold;
    margin: 0;
    text-align: center;
}

main .statistics .tickets div span {
    font-weight: normal;
    color: var(--sec-color);
    font-size: small;
    margin-top: 5px;
    display: block;
}

/* Statistics End  */
/* Latest News Start */
main .latest-news>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


main .latest-news>div:not(:last-child) {
    margin-bottom: 10px;
}

main .latest-news>div:not(:last-child) {
    border-bottom: 1px solid var(--sec-color-alt);
    padding-bottom: 10px;
}

main .latest-news div img {
    width: 50px;
    height: auto;
    border-radius: 5px;
    margin-right: 5px;
}

main .latest-news div .text {
    min-width: 185px;
    flex: 1;
}

@media (min-width:848px) and (max-width:917px) {
    main .latest-news>div span {
        min-width: 60px;
        margin-top: -15px;
        margin-left: -100px;
    }
}


main .latest-news div p {
    width: fit-content;
    margin: 0;
}

@media (max-width:767px) {
    main .latest-news>div {
        flex-direction: column;
        align-items: center;
    }

    main .latest-news div img {
        min-width: 100px;
    }

    main .latest-news div p {
        margin: 10px auto;
    }
}

main>div div p:has(+ p) {
    font-weight: bold;
    margin-bottom: 5px !important;
    font-size: 14px;
}

main .content>div div p+p {
    font-size: 12px;
    color: var(--sec-color);
}

main .latest-news div span {
    font-size: 12px;
    background-color: var(--sec-color-alt);
}

@media (max-width:767px) {
    main .latest-news div span {
        font-size: 10px;
        text-align: center;
    }

    main .latest-news div img {
        width: 35px;
    }
}

/* Latest News End */
/* Latest Tasks Start  */
main .latest-tasks>div {
    display: flex;
    justify-content: space-between;
}

main .latest-tasks>div:not(:last-child) {
    margin-bottom: 10px;
}

main .latest-tasks>div p {
    margin: 0;
    transition: var(--main-transition);
    position: relative;
    width: fit-content;
}

.latest-tasks .check-box {
    position: relative;
    max-height: 16px;
}

.latest-tasks .check-box input {
    position: relative;
    z-index: 5;
    top: -9px;
    cursor: pointer;
    opacity: 0;
    width: 14px;
    height: 34px;
}

main .latest-tasks .check-box i {
    position: absolute;
    top: 0;
    left: 0;
}

main .latest-tasks>div i {
    cursor: pointer;
    transition: var(--main-transition);
}

main .latest-tasks>div .check-box:hover i {
    animation: viber .5s linear;
}

@keyframes viber {

    20%,
    50%,
    70%,
    90% {
        transform: rotate(20deg) translateY(-2px);
    }

    35%,
    60%,
    85% {
        transform: rotate(-20deg) translateY(-2px);
    }
}

.latest-tasks div:has(input:checked) .done,
.latest-tasks div:has(input:checked) i {
    opacity: .5;
}

.latest-tasks div:has(input:checked) i {
    color: red;
}

.latest-tasks div:has(input:checked) .done::after {
    transform: scale(1);
}

.latest-tasks .done {
    position: relative;
}

main .latest-tasks>div .done::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: .5;
    transform: scaleX(0) translateY(-50%);
    transform-origin: left;
    transition: var(--main-transition);
}


/* Latest Tasks End  */
/*  Top Search   */

main .search-items h3 {
    margin-bottom: 15px;
}

main .search-items div.box {
    position: relative;
}

main .search-items div.box span {
    font-size: smaller;
    color: var(--sec-color);
}

main .search-items div.box span:nth-child(2) {
    position: absolute;
    right: 0;
}

main .search-items div.box div {
    position: relative;
}

main .search-items div.box div:not(:last-child) {
    margin-bottom: 30px;
}

main .search-items div.box div::after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 0px;
    background-color: var(--sec-color-alt);
    border-radius: 5px;
    font-size: smaller;
    min-width: 53px;
    text-align: center;
}

main .search-items div.box div[data-number="220"]::after {
    content: '220';
}

main .search-items div.box div[data-number="180"]::after {
    content: '180';
}

main .search-items div.box div[data-number="160"]::after {
    content: '160';
}

main .search-items div.box div[data-number="145"]::after {
    content: '145';
}

main .search-items div.box div[data-number="110"]::after {
    content: '110';
}

main .search-items div.box div[data-number="95"]::after {
    content: '95';
}

main .search-items div.box div:first-of-type {
    margin-top: 20px;
}

/*  Top Search  End */
/* Latest Uploads Start  */
main .latest-uploads>div {
    display: flex;
    gap: 10p/x;
    position: relative;
    padding: 8px 0;
    align-items: center;
    border-bottom: 1px solid var(--sec-color-alt);
}

main .latest-uploads div:last-child {
    border: unset;
    padding-bottom: 0;
}

main .latest-uploads div img {
    height: 30px;
    margin-right: 10px;
}

main .latest-uploads div p {
    margin: 0;
}

main .latest-uploads div p:first-of-type {
    font-weight: 600;
}

main .latest-uploads div::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 5px 6px;
    background-color: var(--sec-color-alt);
    border-radius: 5px;
    font-size: smaller;
    text-align: center;
    font-weight: 600;
}

main .latest-uploads .pdf::after {
    content: '2.9mb';
}

main .latest-uploads .avi::after,
.dll::after {
    content: '4.9mb';
}

main .latest-uploads .psd::after {
    content: '4.5mb';
}

main .latest-uploads .zip::after,
.eps::after {
    content: '8.9mb';
}

/* Latest Uploads End   */
/* Project Progress Start  */
main .project-progress .steps {
    position: relative;
}

main .project-progress .steps::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 6.8px;
    width: 1.5px;
    height: 80%;
    background-color: var(--main-blue);
    z-index: 1;
}

main .project-progress .step {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

main .project-progress .step div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-blue);
    border: 2px solid white;
    outline: 1.5px solid var(--main-blue);
    position: relative;
    z-index: 2;
}

main .project-progress .step:nth-child(4) div {
    animation: load 3.5s ease-out infinite;
}

@keyframes load {
    50% {
        background-color: var(--main-white);
    }
}

main .project-progress .steps .step:last-child div {
    background-color: var(--main-white);
}

main .project-progress p {
    margin: 0;
}

main .project-progress img {
    height: 150px;
    margin: -60px 10px 0 auto;
    display: block;
    opacity: .6;
}

@media (max-width:767px) {
    main .project-progress img {
        max-height: 100px;
    }
}

/* Project Progress End  */
/* Reminders Start  */
main .reminders .reminder {
    position: relative;
    padding: 10px 0;
    padding-left: 40px;

}

main .reminders .reminder:not(:last-child) {
    margin-bottom: 15px;
}

main .reminders .reminder::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

main .reminders .reminder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: 1px;
    height: 100%;
}

main .reminders .reminder:first-of-type:after,
.reminder:first-of-type::before {
    background-color: #FA7070;
}

main .reminders .reminder:nth-child(3):after,
.reminder:nth-child(3)::before {
    background-color: var(--main-green);
}

main .reminders .reminder:nth-child(4):after,
.reminder:nth-child(4)::before {
    background-color: var(--main-blue);
}

main .reminders .reminder:nth-child(5):after,
.reminder:nth-child(5)::before {
    background-color: rgb(245, 245, 91);
}

main .reminders .reminder p {
    margin: 0 !important;
}

main .reminders .reminder p:last-of-type {
    margin-top: 10px !important;
}

/* Reminders End  */

main .latest-post .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

main .latest-post .info .text p {
    font-weight: 600;
    font-size: small;
}

main .latest-post .info .text span {
    color: var(--sec-color);
    display: block;
    margin-top: 5px;
    font-weight: normal;
    font-size: 12px;
}

main .latest-post img {
    width: 45px;
    height: auto;
}

main .latest-post .post {
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid var(--sec-color-alt);
    border-top: 1px solid var(--sec-color-alt);
    background-color: rgba(238, 238, 238, 0.377);
    padding: 10px;
    border-radius: 3px;
}

main .latest-post .post p {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 600;
    margin: 0;
}


main .latest-post .likes-comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .latest-post .likes-comments span {
    color: var(--sec-color);
    font-size: 14px;
    margin-left: 3px;
}

main .latest-post .likes-comments i {
    font-size: 14px;
    transform: translateY(2px);
}

main .social div {
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 44px;
}

main .social div:not(:last-child) {
    margin-bottom: 30px;
}

main .social div:first-of-type {
    background-color: #1da0f29d;
}

main .social div:first-of-type i,
.social div:first-of-type button {
    background-color: #1DA1F2;
}

main .social div:first-of-type p {
    color: #135e8d;
}


main .social div:nth-child(3) {
    background-color:
        #4267b2af;
}

main .social div:nth-child(3) i,
div:nth-child(3) button {
    background-color: #4267B2;
}

main .social div:nth-child(3) p {
    color: #0a2b79;
}

main .social div:nth-child(4) {
    background-color:
        #ff00009c;
}

main .social div:nth-child(4) i,
div:nth-child(4) button {
    background-color: #FF0000;
}

main .social div:nth-child(4) p {
    color: #860d0d;
}

main .social div:nth-child(5) {
    background-color:
        #00619291;
}

main .social div:nth-child(5) i,
div:nth-child(5) button {
    background-color: #006192;
}

main .social div:nth-child(5) p {
    color: #013a57;
}


main .social div i {
    min-width: 40px;
    min-height: 44px;
    padding-top: 15px;
    color: var(--main-white);
    transition: var(--main-transition);
}

main .social div:hover i {
    transform: scale(1.1) rotate(5deg);
    border-radius: 10%;
}

main .social div p {
    flex: 1;
}

main .social div button {
    color: var(--main-white);
    margin-right: 5px;
    font-weight: 600;
}

main .projects-01 {
    grid-column: 1/-1;
    overflow-x: scroll !important;
}

main .projects-01 table {
    border-spacing: unset;
    min-width: 993px;
    width: 100%;
    overflow-x: scroll;
}

main .projects-01 table thead {
    background-color: var(--sec-color-alt);
    min-height: auto;
}

main .projects-01 table thead td {
    font-weight: bold;
    padding: 15px;
}

main .projects-01 table tbody td {
    padding: 18px;
    border-right: 1px solid var(--sec-color-alt);
    border-bottom: 1px solid var(--sec-color-alt);
}

main .projects-01 table tbody tr:last-child td {
    border-bottom: unset;
}

main .projects-01 table tbody td:first-child {
    border-left: 1px solid var(--sec-color-alt);
}

main .projects-01 .members {
    display: flex;
}

main .projects-01 .members img {
    max-width: 20px;
    max-height: 20px;
    position: relative;
    border: 1px solid var(--main-white);
    border-radius: 50%;
    transition: var(--main-transition);
}

main .projects-01 .members img:nth-child(2) {
    transform: translateX(-10px);
}

main .projects-01 .members img:nth-child(3) {
    transform: translateX(-20px);
}

main .projects-01 .members img:nth-chi(4) {
    transform: translateX(-30px);
}

main .projects-01 .members img:nth-child(5) {
    transform: translateX(-40px);
}

main .projects-01 .members img:nth-child(6) {
    transform: translateX(-50px);
}

main .projects-01 .members img:hover {
    z-index: 100;
    cursor: pointer;
    scale: 2.5;
    transform: translateX(-5px);
}

main .projects-01 .members img:nth-child(6):hover {
    transform: translateX(-20px);
}

main .projects-01 .members img:nth-child(5):hover {
    transform: translateX(-10px);
}

main .projects-01 span {
    padding: 6px 8px;
    color: var(--main-white);
    border-radius: 5px;
    font-size: small;
    margin: 0 auto;
    display: block;
    /* max-width: 80px; */
    text-align: center;
    font-weight: 600;
}

main .projects-01 span.pend {
    background-color: var(--main-orange);
}

main .projects-01 span.reject {
    background-color: rgb(255, 27, 27);
}

main .projects-01 span.complete {
    background-color: rgb(49, 243, 107);
}

main .projects-01 span.progress {
    background-color: var(--main-blue);
}

/* Main End  */



/** Start Settings Page **/
/* Start  components  */
p:has(span.sub) {
    margin-top: 0px;
}

span.sup {
    font-weight: 600;
}

span.sub {
    font-size: 12px;
    color: var(--sec-color);
    display: block;
    margin-top: 5px;
}

/* End  components  */
.site-control form>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.site-control form textarea {
    border: 1px solid #eee;
}

.site-control form textarea::placeholder {
    font-size: smaller;
}

.general-info form input {
    margin-bottom: 10px;

}

.general-info form input:nth-of-type(3) {
    min-width: fit-content;
    background-color: rgb(214, 214, 214);
}

.general-info form input:last-child {
    cursor: pointer;
    min-width: fit-content;
    border: unset;
    color: var(--main-blue);
    font-size: 14px;
}

.general-info form label {
    font-size: 13px;
    color: #777;
    margin-bottom: 5px;
    display: block;
}

.security-info>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.security-info>div .change {
    color: white;
}

.security-info>div .change:hover {
    background-color: rgb(136, 136, 250);
}

.security-info>div .dev {
    background-color: #eee;
}

.security-info>div .dev:hover {
    background-color: rgba(175, 175, 175, 0.486);
}

.social-info div {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid rgba(173, 169, 169, 0.589);
}

.social-info div:last-child {
    margin-bottom: 0;
}

.social-info div input {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    background-color: rgba(209, 200, 200, 0.267);
}

.social-info div i {
    min-width: 30px;
    background-color: rgba(209, 200, 200, 0.267);
    color: rgb(105, 102, 102);
    min-height: 30px;
    padding-top: 7px;
    border-right: 1px solid rgba(173, 169, 169, 0.589);
    transition: var(-- -transition);
}

.social-info div:has(input:focus) i.fa-twitter {
    color: #1DA1F2;
}

.social-info div:has(input:focus) i.fa-facebook-f {
    color: #4267B2;
}

.social-info div:has(input:focus) i.fa-youtube {
    color: #FF0000;
}

.social-info div:has(input:focus) i.fa-linkedin {
    color: #006192;
}

.widget-control .widget {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.widget-control .widget label {
    cursor: pointer;
}

.widget-control .widget div.checkbox {
    position: relative;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin-right: 5px;
}

.widget-control .widget div.checkbox span {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0;
    top: 3px;
    border-radius: 2px;
    overflow: hidden;
    transition: var(--main-transition) .3s;
    border: .5px solid #777;
}

.widget-control .widget div.checkbox input:checked+span {
    border: unset;
}

.widget-control .widget div.checkbox span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: var(--main-blue);
    transition: .5s;
}

.widget-control .widget div.checkbox input:checked+span::before {
    width: 100%;
    height: 100%;
}

.widget-control .widget div.checkbox span::after {
    content: '\f00c';
    top: 1.1px;
    left: 2px;
    font-size: 10px;
    color: white;
    transition: .8s;
    transform: rotate(-45deg);
    opacity: 0;
}

.widget-control .widget div.checkbox input:checked+span::after {
    transform: rotate(0);
    opacity: 1;
}

.backup .time {
    border-bottom: 1px solid #eee;
}

.backup .box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.backup .box .active-rad {
    position: relative;
}

.backup .time .box input {
    position: relative;
    z-index: 55;
    opacity: 0;
    margin-right: 5px;
}

.backup .box span {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px;
    outline: 1px solid rgba(119, 119, 119, 0.411);
    padding: 3px;
    background-color: #fff;
    border: 2px solid white;
    overflow: hidden;
    transition: var(--main-transition);
}

.backup .box input:checked+span {
    outline-color: var(--main-blue);
}

.backup .box span::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%);
    background-color: var(--main-blue);
    transition: .5s cubic-bezier(0.68, 0.17, 0.54, 0.98);
    border-radius: 50%;
}

.backup .box:first-of-type span:after {
    top: 19px;
}

.backup .box:nth-of-type(2) span:after,
.box:nth-of-type(3) span:after {
    top: -19px;
}

.backup .time:has(.three:checked) .two:after {
    top: 19px;
}

.backup .box input:checked+span::after {
    width: 100%;
    height: 100%;
    transform: translate(-50%, 0%);
    top: 0;
}

.backup label {
    cursor: pointer;
}

.backup .type {
    display: flex;
    margin-top: 10px;
}

.backup .type .card {
    position: relative;
    margin-right: 10px;
    border: 2px solid #eee;
    border-radius: 5px;
    transition: .5s;
}

.backup .type .card:has(input:checked) {
    border-color: #1DA1F2;
}

/*   .backup .type .card:first-of-type::after {
    content: '';
    position: absolute;
    top: -.5px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--main-blue);
    border-radius: 5px;
    opacity: 0;
    transition: .5s;
    z-index: 3;
}

  .backup .type:has(.first:checked) .card:first-of-type::after {
    opacity: 1;
}

  .backup .type:has(.sec:checked) .card:first-of-type::after {
    transform: translateX(133px);
    opacity: 1;

} */

.backup .type .card input {
    width: 105px;
    height: 60px;
    position: relative;
    z-index: 555;
    opacity: 0;
    cursor: pointer;
}

@media (max-width:767px) {
    .backup .type {
        flex-direction: column;
    }

    .backup .type .card {
        margin-bottom: 10px;
        height: 70px;
    }

    .backup .type .card input {
        width: 100%;
        height: 70px;
    }
}

.backup .type .card i {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    font-size: 12px;
}

.backup .type .card input:checked+i {
    color: #1DA1F2;
}

.backup .type .card label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    transition: var(--main-transition);
}

.backup .type .card input:checked~label {
    color: #1DA1F2;
}

/** End Settings Page **/

/** Start Profile Page */
/* Start content  */
@media (max-width:767px) {
    .content.c-profile {
        grid-template-columns: unset;
    }
}

.profile {
    grid-column: 1/-1;
    display: flex;
}

.profile .image {
    padding: 20px 50px;
    text-align: center;
    border-right: 1px solid #eee;
    min-width: 210px;
}

.profile .image img {
    width: 100px;
    margin-bottom: 15px;
}

.profile .image h3 {
    font-size: 16px;
}

.profile .image .line {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
}

.profile .image .line:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: var(--main-blue);
    border-radius: inherit;
}

@media (max-width:992px) {

    .profile {
        flex-direction: column;
    }

    .profile .image {
        border: unset
    }

    .profile .image .line {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

}

.profile .image i {
    color: gold;
    font-size: 12px;
    margin-bottom: 15px;
}

.profile .image span {
    font-size: 14px;
    color: #777;
}

.personal-info {
    flex: 1;
}

.personal-info .inf {
    padding: 20px 0;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}

.personal-info .inf:first-of-type {
    padding-top: 0;
}

.personal-info .inf:last-of-type {
    padding-bottom: 0;
    border: unset;
}

.personal-info .box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 10px;
}

.personal-info h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: small;
    color: #777;
}

.personal-info p {
    color: initial;
    font-size: 13px;
    font-weight: initial;
    margin: 0;
    /* min-width: 190px; */
    flex-basis: 190px;
}

.personal-info p span.first {
    color: #777;
}

.personal-info .toggel input.checkbox {
    width: 100px;
}

.personal-info span.checkbox {
    width: 80px;
}

.personal-info .toggel input.checkbox:checked+span.checkbox::after {
    transform: translate(53px, -50%) rotate(45deg);
}

.personal-info .toggel input.checkbox:checked+span.checkbox::before {
    transform: translate(55px, -48%);
}

/* .personal-info .toggel input.checkbox:checked+span.checkbox {
    animation: stretch .5s ease-in-out .2s;
}

@keyframes stretch {
    50% {
        width: 100px;
    }
}

@keyframes move {
    50% {
        transform: translate(76px, -50%);
    } 
}
*/

.skills div {
    padding: 10px 0;
}

@media (max-width:833px) {
    .skills div {
        display: flex;
        justify-content: center;
    }
}

.skills div:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-activities {
    grid-column: 2/-1;
}

@media (max-width:992px) {
    .latest-activities {
        grid-column: auto !important;
    }
}

.latest-activities img {
    width: 50px
}

.latest-activities .activity {
    display: flex;
    align-items: center;
}

@media (max-width:992px) {

    .latest-activities .activity {
        flex-direction: column;
        text-align: center;
        align-items: center;
        row-gap: 10px;
    }
}

.latest-activities .activity:not(:last-child) {
    margin-bottom: 35px;
}

.latest-activities .subject {
    flex: 1;
    margin-left: 10px;
}

.latest-activities span {
    display: block;
    font-size: small;
}

.latest-activities .activity div span:nth-of-type(2) {
    color: #777;
    margin-top: 10px;
}

/** End Profie Page */
/* Start Projects Page */
.project {
    position: relative;
}

.project::after,
.project::before {
    position: absolute;
    content: '15/6/2022';
    right: 10px;
    font-size: 12px;
    color: #777;
}

.project::after {
    top: 10px;
}

.project:first-child::after {
    content: '15/10/2021';
}

.project::before {
    bottom: 20px;
}

.project:first-child::before {
    content: "$ 2500";
}

.project:nth-child(2)::before {
    content: "$ 1800";
}

.project:nth-child(3)::before,
.project:nth-child(6)::before,
.project:nth-child(9)::before {
    content: "$ 950";
}

.project:nth-child(4)::before {
    content: "$ 1700";
}

.project:nth-child(5)::before {
    content: "$ 850";
}


.project:nth-child(7)::before {
    content: "$ 1950";
}

.project:nth-child(8)::before {
    content: "$ 1650";
}

.project h5 {
    margin: 10px 0 0 0;
}

.project p {
    margin: 10px 0;
    font-size: 12px;
    color: #777;
}

.project .images {
    padding: 20px 0;
}

.project img {
    width: 30px;
    border: 1px solid white;
    border-radius: 50px;
    position: relative;
    transition: var(--main-transition);
}

.project img:hover {
    z-index: 5;
    scale: 1.2;
}

.project .images img:nth-of-type(2) {
    transform: translateX(-10px);
}

.project .images img:nth-of-type(3) {
    transform: translateX(-20px);
}

.project .images img:nth-child(4) {
    transform: translateX(-30px) translateY(1px);
}

.project .box {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
}


.project .line {
    position: relative;
    width: 50%;
    height: 6px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 0;
}

.project .line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: inherit;
}

.project:first-child .line::after {
    background-color: rgb(255, 50, 50);
    width: 50%;
}

.project:nth-child(2) .line::after {
    background-color: rgba(106, 252, 106, 0.884);
    width: 80%;
}

.project:nth-child(3) .line::after {
    background-color: rgb(57, 57, 252);
    width: 100%;
}

.project:nth-child(4) .line::after {
    background-color: rgba(106, 252, 106, 0.884);
    width: 65%;
}

.project:nth-child(5) .line::after {
    background-color: rgba(106, 252, 106, 0.884);
    width: 75%;
}

.project:nth-child(6) .line::after {
    background-color: rgb(255, 50, 50);
    width: 35%;
}

.project:nth-child(7) .line::after {
    background-color: rgba(106, 252, 106, 0.884);
    width: 70%;
}

.project:nth-child(8) .line::after {
    background-color: rgba(106, 252, 106, 0.884);
    width: 85%;
}

.project:nth-child(9) .line::after {
    background-color: rgba(106, 252, 106, 0.884);
    width: 95%;
}

/* End Projects Page */
/* Start Courses Page  */
.content.courses {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.content.courses .course {
    padding: 0;
    position: relative;
    padding-bottom: 10px;
}

.course img:first-of-type {
    width: 100%;
}

.course .info {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.course h3 {
    font-size: 12px;
}

.course p {
    font-size: 12px;
    line-height: 1.6;
}

.course button {
    background-color: var(--main-blue);
    color: white;
    display: block;
    margin: 0 auto;
    transform: translateY(-12.2px);
}

.course button:hover {
    background-color: rgb(68, 68, 158);
}

.course .member {
    width: 30px;
    border: 1px solid white;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
}

.course .c-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.course .c-info i,
.course .c-info span {
    color: #777;
    font-size: small;
}


/* End Courses Page */
/* Start Friends Page   */
/* .content.fr {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.content.fr .friend {
    position: relative;
} */

.friend.vip::after {
    content: 'VIP';
    position: absolute;
    bottom: 80px;
    right: 20px;
    color: rgba(255, 217, 0, 0.336);
    font-size: 30px;
    font-weight: bold;
}

.friend .avatar {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    padding-top: 15px;
}

.friend .image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eee;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: hidden;
}

.friend .image img {
    width: 100%;
}

.friend .avatar h3,
.friend .avatar p {
    font-size: small;
}

.friend .info {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 10px 0;
}

.friend .info div {
    padding: 5px 0;
}

.friend .info i {
    margin-right: 5px;
}

.friend .info span {
    font-size: small;
}

.friend .box {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.friend .box span {
    color: #777;
    font-size: 12px;
    display: block;
}

.friend .box button {
    font-size: 12px;
    display: inline-block;
    line-height: 10px;
    margin-top: 5px;
    background-color: transparent;
}

.friend .box button:nth-of-type(1) {
    background-color: var(--main-blue);
    color: white;
}

.friend .box button:nth-of-type(1):hover {
    background-color: rgb(71, 71, 182);
}

.friend .box button:nth-of-type(2) {
    color: rgb(255, 27, 27);
}

.friend .box button:nth-of-type(2):hover {
    color: white;
    background-color: rgb(255, 27, 27);
}

.friend .contact {
    position: absolute;
    top: 5px;
}

.friend .contact i {
    font-size: 14px;
    color: #777;
    padding: 7px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--main-transition);
}

.friend .contact i:hover {
    color: var(--main-blue);
}

/* EN Friends Page   */
/* Start Files Page  */
.content.files {
    display: flex;
    gap: 0;
}

.content.files>div {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: none;
    position: relative;
    padding: 0px;
    background-color: transparent;
}

.files .boxes {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    box-shadow: none;
    gap: 15px;
    padding: 0;
    overflow: visible;
    perspective: 1000px;
}

.files .boxes .file {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    box-shadow: 0px 1px 5px rgb(0, 0, 0, .1);
    transform-style: preserve-3d;
    transition: .5s;
}

.files .boxes .file:hover {
    transform: translateZ(10px);
}


.files .boxes .file:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: 5px 10px 10px rgb(0, 0, 0, .1);
    opacity: 0;
    transition: .5s;
    border-radius: inherit;
}

.files .boxes .file:hover::after {
    opacity: 1;
}

.files .boxes .image {
    width: fit-content;
    margin: 0 auto 10px;
    text-align: center;
    padding-top: 10px;
}



.files .boxes .image img {
    margin-bottom: 10px;
    width: 50px;
}

.files .boxes .image span {
    display: block;
    font-size: 12px;
}

.files .boxes span.name {
    font-size: small;
    color: #777;
}

.files .boxes p.info {
    color: #777;
    font-size: 12px;
    margin: 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #eee;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.files .boxes i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #777;
    font-size: small;
}

.content.files .statistics {
    min-width: 200px;
    max-height: 347px;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 2px 15px rgb(0, 0, 0, .15);
}

.files .statistics h4 {
    margin: 0;
    margin-bottom: 10px;
}

.files .statistics div {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 5px;
}

.files .statistics div p {
    flex: 1;
    font-size: small;
    margin: 0;
    max-height: 36px;
}

.files .statistics div p span {
    margin-top: 10px;
}

.files .statistics div i {
    margin-right: 15px;
    padding: 10px;
    width: 38px;
    text-align: center;
}

.files .statistics span {
    color: #777;
    font-size: small;
    display: block;
}

.files .statistics .pdf-files i {
    color: rgb(72, 72, 192);
    background-color: rgba(201, 201, 235, 0.555);
}

.files .statistics .img-files i {
    color: green;
    background-color: rgba(0, 255, 0, 0.212);
}

.files .statistics .word-files i {
    color: rgb(248, 51, 51);
    background-color: rgba(241, 94, 94, 0.329);
}

.files .statistics .csv-files i {
    background-color: rgba(253, 184, 55, 0.362);
    color: var(--main-orange)
}

.files .statistics button {
    margin: 0 auto;
    background-color: var(--main-blue);
    color: white;
    padding: 10px 20px;
}

.files .statistics button i {
    margin-right: 5px;
}

.files .statistics button:hover i {
    animation: sp .5s linear infinite;
}

@keyframes sp {
    50% {
        transform: translateY(5px);
    }
}

@media (max-width:585px) {
    .files {
        flex-wrap: wrap;
    }

    .files div {
        flex-basis: 100%;
    }

    .files .statistics {
        order: -1;
    }
}

/* End Files Page  */
/* Start Plans Page  */
.plans .plan {
    border-radius: 00px;
    transition: .3s;
    border: 2px solid transparent;
    outline: 2px solid transparent;
}

.plans .plan:hover {
    border-radius: 20px;
}

.plans .free:hover {
    outline-color: var(--main-green);
}

.plans .basic:hover {
    outline-color: var(--main-blue);
}

.plans .premium:hover {
    outline-color: var(--main-orange);
}

.plans .price {
    height: 100px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: 2px solid white;
    outline: 2px solid;
    border-radius: 00px;
    transition: var(--main-transition);
}

.plans .plan:hover .price {
    scale: 1.2;
    transform: translateY(-5px);
}

.plans .price sup {
    margin-right: 5px;
    font-weight: normal;
}

.plans .price span {
    display: block;
}

.plans .price span:last-of-type {
    font-size: 30px;
    margin-top: 10px;
}

.plans .free .price,
.plans .free button {
    background-color: var(--main-green);
    outline-color: var(--main-green);
}

.plans .basic .price,
.plans .basic button {
    background-color: var(--main-blue);
    outline-color: var(--main-blue);
}

.plans button {
    color: white;
    margin-top: 10px;
}

.plans .premium .price {
    background-color: var(--main-orange);
    outline-color: var(--main-orange);
}


.plans .details div {
    position: relative;
    padding: 4px;
    padding-left: 25px;
    font-size: small;
    border-bottom: 1px solid #eee;
}

.plans .details .available::before {
    content: '\f129';
    right: 0;
    background-color: rgba(119, 119, 119, 0.623);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    color: white;
    font-size: 8px;
}

.plans .details .available::after {
    content: '\f00c';
    left: 3px;
    color: var(--main-green);
}

.plans .details .not.available::after {
    content: '\f00d';
    color: red;
}

.plans .details .available::after,
main .plans .details div.available::before {
    font-weight: 900;
    font-family: "font awesome 5 free";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.plans .premium>span:last-child {
    color: #777;
    display: block;
    margin: 10px auto 0;
    width: fit-content;
    font-size: 12px;
}

/* End Plans Page  */